<form action="/payments/add" method="POST" class="payment-form"> 
    <div>
        <label for="playerName">Player Name:</label>
        <select name="playerName" {{#if userIsAdmin}}required{{/if}}>
        {{#if userIsAdmin}}
            <!-- Si es admin, mostramos todos los jugadores disponibles -->
            {{#each players}}
                <option value="{{this._id}}">{{this.username}}</option>
            {{/each}}
        {{else}}
            <!-- Si no es admin, mostramos solo al usuario logueado y lo deshabilitamos -->
            <option value="{{currentUser._id}}" selected>{{currentUser.username}}</option>
        {{/if}}
    </select>
    </div>
    <div>
        <label for="paymentAmount">Payment Amount:</label>
        <input type="text" id="paymentAmount" name="paymentAmount" class="form-input" required>
    </div>
    <div>
        <label for="paymentDate">Payment Date:</label>
        <input type="date" id="paymentDate" name="paymentDate" class="form-input" required>
    </div>
    <button type="submit" class="form-button">Submit Payment</button>
</form>
